extends layout

block content
	.sixteen.wide.column
		.ui.breadcrumb
			a.section(href='/') Home
			.divider  / 
			.active.section About
		.sixteen.wide.column
			.ui.icon.header
				i.circular.question.icon
				| Cell tracking visualisation framework
				.sub.header
				| This visualisation framework is a web application using
				a(href='https://nodejs.org/en/') Node.js
				| .
			address
				a(href='https://github.com/fabianbormann/Cell-Tracking-Visualisation') GitHub
				br