<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Celltrack{% endblock %}</title>

    {% block head %}

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/master.css">

    <script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/js/semantic.min.js"></script>
    <script type="text/javascript" src="/js/master.js"></script>

    {% endblock %}
</head>
<body>
    <div class="ui fixed transparent inverted main menu">
        <div class="container">
            <a href="/" class="item">
                Celltrack
            </a>
            <a href="/" class="item">
                <i class="home icon"></i>Home
            </a>
            <a href="/upload/" class="item">
                <i class="attachment icon"></i>Upload
            </a>
            <a href="/experiments/" class="item">
                <i class="lab icon"></i>Experiments
            </a>
            <a href="/about/" class="right floated item">
                <i class="question icon"></i>About
            </a>
        </div>
    </div>

    <div class="content ui page grid">
        {% block content %}{% endblock %}
    </div>
</body>
</html>