{% extends 'layout.html' %}

{% block head %}
{% parent %}

{% endblock %}
{% block content %}
<div class="sixteen wide column">
    <div class="ui breadcrumb">
      <a class="section" href="/">Home</a>
      <div class="divider"> / </div>
      <div class="active section">Upload finished</div>
    </div>
</div>
<h2 class="ui header">Experiment upload finished</h2>
<div class="ui divider"></div>
{{ name }}
<div class="ten wide column">
<table class="ui table segment">
  <thead>
    <tr><th>Name</th>
        <th>Größe</th>
    </tr></thead>
    <tbody>
        <tr>
          <td>{{ name }}</td>
          <td>{{ size }} kB</td>
      </tr>
    </tbody>
    <tfoot>
    <tr><th colspan="2">
      <a href="/experiments/{{ experimentId }}" class="ui blue labeled icon button"><i class="lab icon"></i>Visit experiment</a>
  </th>
</tr></tfoot>
</table>
</div>
{% endblock %}