{% extends 'layout.html' %}

{% block content %}
<div class="sixteen wide column">
	<div class="ui breadcrumb">
	  <a class="section" href="/">Home</a>
	  <div class="divider"> / </div>
	  <div class="active section">Upload</div>
	</div>
</div>	
<div class="sixteen wide column">
	<form method="post" action="/upload" enctype="multipart/form-data">
		<div class="ui form">

			<h2 class="ui header">Upload</h2>
			<div class="ui divider"></div>
			New Experiment
			<div class="ui grid">
				<div class="ten wide column">
		            <div class="ui input">
					  <input type="text" maxlength="120" placeholder="Experimentname" name="experimentName" required>
					    <div class="ui corner label">
							<i class="asterisk icon"></i>
						</div>
					</div>
				</div>

				<div class="two column row">
					<div class="column field">
				    	<textarea type="text" name="description" rows="7" placeholder="Optional description of your experiment"></textarea>
				    </div>
				    <div class="column field">
				    	<textarea type="text" name="authors" rows="7" maxlenght="5000" placeholder="Add optional authors of your experiment"></textarea>
					</div>
				</div>

				<div class="two column row">
					<div class="column">
						<input type="button" name="img" onclick ="javascript:document.getElementById('hiddenButton').click();" class="ui red submit button" value="Import zip file">
                        <input type="file" name="image" style='visibility:hidden' id="hiddenButton" required >
					</div>
					<div class="column">
						<input type="submit" value="Create experiment" class="ui blue submit button"></input>		
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
	{% endblock %}